@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

@layer swiper {
  @import '../node_modules/swiper/swiper.scss';
  @import 'swiper/scss/pagination';
  @import './swiper.scss';
}

.perspective {
  perspective: 1000px;
}

button, a, li {
  cursor: pointer;
}

#tsparticles {
  
  width: 100%;
  height: 100%;
  // z-index: -10;
}